<section>
    <div class="row no-gutters" [ngStyle]="{'background-color': '#15181f'}">
        <div class="col-xl-5 col-lg-12">

        </div>
        <div class="col-xl-7 col-lg-12 d-flex">
            <div class="container aling-self-content">
                <h1>formulario</h1>
                <button class="btn btn-outline-dark d-inline-block text-light mr-2 mb-3"><i class="fab fa-google lead align-middle mr-2"></i>Google</button>
                <button class="btn btn-outline-dark d-inline-block text-light mr-2 mb-3"><i class="fab fa-facebook lead align-middle mr-2"></i>Facebook</button>

            </div>
        </div>

    </div>
</section>